body {
    font-family: Georgia, Arial, sans-serif;
    text-align: center;
    padding: 40px;
    background-color: #fff8e7;

    /*for gradient animation*/
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #ff9a9e, #fad0c4, #a1c4fd, #c2e9fb);
    background-size: 800% 800%;
    animation: gradientShift 20s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

  h1 {
    color: #333;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #verse {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 1.2em;
    line-height: 1.5em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .centered-image {
    display: block;
    margin: 5px auto 0 auto; /* centers the image */
    max-width: 400px;   /* keeps it responsive */
    width: 80%;
    height: auto;
    border-radius: 12px; /* optional: rounded corners */
  }

  #datetime {
    font-size: 0.9em;
    color: #000000;
  }